/* poprp */
#top {
    position: fixed; right: 50px; bottom: 50px;
    width: 34px; height: 34px;
}
#top img {width: 100%;}
/* all layout */
header, 
main .visual, 
main .service, 
main .bnr_bg .bnr,
main .board, 
main .field_info, 
main .news, 
footer {background-color:lightgrey;
    width: 1152px; margin: 0 auto;
}
/* header */
header {}
/* header-h top */
header #h_top {
    background-color: lightblue;
    height: 48px;
}
header #h_top .left {
    background-color: lightpink; 
    float: left;
}
header #h_top .left h1 {
    float: left; padding-top: 10px;
    width: 110px; height: 28px;
}
header #h_top .left h1 a {}
header #h_top .left h1 a img {width: 100%;}
header #h_top .left nav {float: left;}
header #h_top .left nav ul {}
header #h_top .left nav ul li {float: left; margin-left: 20px;}
header #h_top .left nav ul li a {
    letter-spacing: -0.02em;
    line-height: 48px;
}
header #h_top .right {
    background-color: lightyellow;
    float: right;
}
header #h_top .right li {float: left; margin-left:20px;}
header #h_top .right li:nth-child(1) {margin-left: 0;}
header #h_top .right li a {
    letter-spacing: -0.02em;
    line-height: 48px;
}
/* header-h btm */
header #h_btm {background-color: lightsteelblue; height: 119px;}
header #h_btm h1 {
    background-color: lightpink; float: left;
    width: 150px; height: 28px; 
    margin-top: 45.5px;
}
header #h_btm h1 a {}
header #h_btm h1 a img {width: 100%;}
header #h_btm #search_frm {
    background-color: gray;  float: left;
    width: 369px; height: 46px; 
    border: 2px solid #1e6cd3; 
    padding: 10px 20px 0 ;
    margin: 36px 0 0 230px;
}
header #h_btm #search_frm fieldset {border: 0;}
header #h_btm #search_frm fieldset legend {display: none;}
header #h_btm #search_frm fieldset input {
    float: left;
    width: calc(100% - 20px); 
}
header #h_btm #search_frm fieldset input::placeholder {
    letter-spacing: -0.02em; color: #1e6cd3;
}
header #h_btm #search_frm fieldset #search_btn {
    float: right;
    border: 0; background: none;
    width: 20px; height: 20px;
    cursor: pointer;
}
header #h_btm #search_frm fieldset #search_btn img {width: 100%;}
header #h_btm .right {
    background-color: lightyellow;
    float: right; margin-top: 18px;
}
header #h_btm .right #langfrm {text-align: right;}
header #h_btm .right #langfrm fieldset {border: 0;}
header #h_btm .right #langfrm fieldset legend {display: none;}
header #h_btm .right #langfrm fieldset select {
    font-size:0.833px; letter-spacing:-0.02em;
    width: 93px; padding: 3px 0;
    border: 1px solid #1e6cd3;
}
header #h_btm .right #langfrm fieldset select option {}
header #h_btm .right #langfrm fieldset #lang_gtn {
    background-color: #1e6cd3; 
    font-size: 0.833px; color:#fff; border:0; 
    width: 30px; height: 23px; cursor: pointer;
}
header #h_btm .right .weather {}
header #h_btm .right .weather .current_weather {}
header #h_btm .right .weather .current_weather em {
    font-size: 2.074rem; font-weight: 500; letter-spacing: -0.02em;
}
header #h_btm .right .weather .current_dust {
    font-size: 0.833rem; letter-spacing: -0.02em; margin-top: 10px;
}
/* main */
main {}
/* main -1광고배너*/
main .visual {
    background-color: gray;
    overflow: hidden;
}
main .visual .left {
    background-color: aquamarine;
    position: relative; /* 겹치는 대상 부모기준 */
    width:770px; height:350px; float:left;
}
main .visual .left img {width: 100%;}
main .visual .left .close {
    letter-spacing: -0.02em; font-weight: 500; 
    padding: 10px; background-color:#1e6cd3; color:#fff; 
    border-radius: 5px;
    position: absolute; /* 겹치는 대상 */
    bottom: 10px; right: 10px;
}
main .visual .right {
    background-color:lightcoral; 
    width: 360px; float: right; 
}
main .visual .right .covid {
    width: 360px; height: 230px; 
    position: relative; /* 겹치는 대상 부모기준 */
    display: inline-block; margin-bottom: 10px;
}
main .visual .right .covid span {background-color: lightsalmon; position: absolute;/* 겹치는 대상 */}
main .visual .right .covid .date {
    letter-spacing:-0.02em; 
    top: 18px; right: 15px; 
}
main .visual .right .covid .data {letter-spacing: -0.02em; color: #fff;}
main .visual .right .covid .data1 {top: 85px; left: 81px;}
main .visual .right .covid .data2 {top: 85px; right: 83px;}
main .visual .right .covid .data3 {bottom: 56px; left: 61px;}
main .visual .right .covid .data4 {bottom: 56px; right: 163px;}
main .visual .right .covid .data5 {bottom: 56px; right: 51px;}
main .visual .right .covid .img {width: 100%;}
main .visual .right .traffic {width: 360px; height: 110px;}
main .visual .right .traffic img {width: 100%; }
/* 주요서비스~새소식 제목 디자인 그룹 */
/* 정리후 */
main section .title {
    background-color: lightseagreen;
    padding: 50px 0 10px;
    border-bottom: 1px solid #aaa;
    overflow: hidden;
}
main section .title h2 {
    font-size:1.44rem; font-weight:500; 
    letter-spacing:-0.02em;
    float:left;
}
main section .title .site {
    float:right;
    border: 1px solid #aaa; padding: 10px;
    letter-spacing: -0.02em;
}
main section .title .more {float:right;}
main section .title .more i {font-size: 30px;}
/* 정리전 */
/* main .service .title {}
main .service .title h2 {}
main .service .title .site {}
main .board .event .title {}
main .board .event .title h2 {}
main .board .event .title .more{}
main .board .fastival .title {}
main .board .fastival .title h2 {}
main .board .fastival .title .more {}
main .board .service .title {}
main .board .service .title h2 {}
main .field_info .title {}
main .field_info .title h2 {}
main .news .title {}
main .news .title h2 {}
main .news .title .more {} */
/* main -2주요서비스*/
main .service {}
main .service .title {}
main .service .title h2 {}
main .service .title .site {}
main .service .contents {padding: 20px; overflow: hidden;}
main .service .contents a {
    background-color: lightblue;
    float:left; width: 9.09%; /* 100/11 */
    text-align:center;
}
main .service .contents a img {}
main .service .contents a span {
    display: block; 
    font-size: 0.833rem; letter-spacing: -0.02em; 
}
/* main -3배너*/
main .bnr_bg {
    background-color: #EFF4F8; 
    padding: 50px 0;
    overflow: hidden;
}
main .bnr_bg .bnr {}
main .bnr_bg .bnr a {float: left;}
main .bnr_bg .bnr a img {}
/* main -4게시판*/
main .board {overflow: hidden;}
/* main-4 게시판 그룹모음 */
main .board > div {
    width:calc(33.33% - 22px);/* 100/3 */
    float: left; /* margin-right: 22px; */
}
main .board > div .title {height: 85px;}
main .board .event {}
main .board .fastival {margin: 0 22px;}
main .board .service {width: 33.33%;/* margin-right:0; */}
/* main-4 게시판 카테고리 */
main .board div .contents a .administrative {color: #028AB6;}
main .board div .contents a .environment {color: #599100;}
main .board div .contents a .welfare {color: #d76000;}
main .board div .contents a .housing {color: #c35c3c;}
main .board div .contents a .culture {color: #9b64d3;}
main .board div .contents a .economy {color: #069363;}
/* main-4 게시판 이벤트신청, 행사축제 공통 내용 */
main .board .event .contents,
main .board .fastival .contents {margin-top: 17px;}
main .board .event .contents a,
main .board .fastival .contents a {display: block; margin-bottom: 25px; overflow: hidden;}
main .board .event .contents a:last-child,
main .board .fastival .contents a:last-child {margin-bottom: 0;}
main .board .event .contents a span,
main .board .fastival .contents a span {letter-spacing: -0.02em;}
main .board .event .contents a span:first-child,
main .board .fastival .contents a span:first-child {
    margin-right:10px; font-weight: 500;
    float:left;
}
main .board .event .contents a span:last-child,
main .board .fastival .contents a span:last-child {
    white-space:nowrap; /* 줄바꿈X */ 
    text-overflow:ellipsis; /* ...말줄임처리 */
    overflow:hidden; /* 넘친부분 숨기기 */
    background-color: white;
    float:right; width: 85%;
}
/* main-4 게시판 개별내용 */
main .board .event .title {}
main .board .event .title h2 {}
main .board .event .title .more{}
main .board .event .contents {}
main .board .event .contents a {}
main .board .event .contents a span {}
main .board .event .contents a .administrative {}
main .board .event .contents a .environment {}
main .board .event .contents a .welfare {}
main .board .event .contents a .housing {}
main .board .event .contents a .culture {}
main .board .fastival .title {}
main .board .fastival .title h2 {}
main .board .fastival .title .more {}
main .board .fastival .contents {}
main .board .fastival .contents a {}
main .board .fastival .contents a span {}
main .board .fastival .contents a span:first-child {}
main .board .fastival .contents a .environment {}
main .board .fastival .contents a .economy {}
main .board .fastival .contents a .culture {}
main .board .service .title {border: 0;}
main .board .service .title h2 {}
main .board .service .contents {
    background-color: #EFF4F8; overflow: hidden; 
    padding: 13px;
}
main .board .service .contents a {
    letter-spacing: -0.02em;
    float: left; width: 50%; text-align: left; 
    margin-bottom: 25px;
}
main .board .service .contents a:nth-last-child(2),
main .board .service .contents a:last-child {margin-bottom:0;}

/* main -5분야정보*/
main .field_info {}
main .field_info .title {}
main .field_info .title h2 {}
main .field_info .contents {
    overflow: hidden; padding: 20px 40px;
}
main .field_info .contents a {
    text-align:center; float:left; width:12.5%;/* 100/8 */
}
main .field_info .contents a img {}
main .field_info .contents a span{
    display:block; letter-spacing:-0.02em;
}
/* main -6새소식*/
main .news {}
main .news .title {}
main .news .title h2 {}
main .news .title .more {}
main .news .contents {
    background-color:lightblue;
    overflow:hidden; padding-top:30px;
}
main .news .contents a {
    width:25%; float:left; 
    text-align:center; margin-bottom:30px;
}
main .news .contents a img {}
main .news .contents a span {
    line-height:26px; letter-spacing:-0.06em;
    display:block; text-align:left; 
}
/* footer */
footer {background-color: lightcyan;}
/* footer-f top*/
footer .top {
    border:1px solid #aaa;  
    border-left: 0; border-right: 0;
    overflow: hidden; padding: 20px 0; 
}
footer .top .left {float: left;}
footer .top .left a {color: #aaa;}
footer .top .left a:nth-child(2) {color:#000;}
footer .top .right {float: right}
footer .top .right a {}
footer .top .right a:first-child {
    background: white url(../images/icon_sns2/icon_set_sns_01.png) no-repeat ;
    width:25px; height:25px; 
    display:inline-block;
    text-indent:-9999px; /* 화면밖 글자 내보내기 */
}
footer .top .right a:nth-child(2) {
    background: white url(../images/icon_sns2/icon_set_sns_02.png) no-repeat ;
    width:25px; height:25px; 
    display:inline-block;
    text-indent:-9999px; /* 화면밖 글자 내보내기 */
}
footer .top .right a:nth-child(3) {
    background: white url(../images/icon_sns2/icon_set_sns_03.png) no-repeat ;
    width:25px; height:25px; 
    display:inline-block;
    text-indent:-9999px; /* 화면밖 글자 내보내기 */
}
footer .top .right a:nth-child(4) {
    background: white url(../images/icon_sns2/icon_set_sns_04.png) no-repeat ;
    width:25px; height:25px; 
    display:inline-block;
    text-indent:-9999px; /* 화면밖 글자 내보내기 */
}
footer .top .right a:nth-child(5) {
    background: white url(../images/icon_sns2/icon_set_sns_05.png) no-repeat ;
    width:25px; height:25px; 
    display:inline-block;
    text-indent:-9999px; /* 화면밖 글자 내보내기 */
}
footer .top .right a:nth-child(6) {
    background: white url(../images/icon_sns2/icon_set_sns_06.png) no-repeat ;
    width:25px; height:25px; 
    display:inline-block;
    text-indent:-9999px; /* 화면밖 글자 내보내기 */
}
/* footer-f btm*/
footer .btm {
    overflow: hidden;
    padding: 30px 0;
}
footer .btm .left {float: left; overflow: hidden;}
footer .btm .left p {float: left; margin-right: 10px;}
footer .btm .left p img {}
footer .btm .left address {float: left;}
footer .btm .left address a {letter-spacing: -0.02em; line-height: 30px;}
footer .btm .right {float: right;}
footer .btm .right a {}
footer .btm .right a img {}