header {}
/* header .h_top */
header .h_top {
    background-color: #ccc;
    width: 100%; height: 36px; text-align: center; 
    margin: 0 auto; padding-top: 7px;
}
header .h_top a {font-weight:700; letter-spacing:-0.02em; }
/* header .h_btm */
header .h_btm {
    width: 1300px; height: 100px; margin: 0 auto;
}
header .h_btm h1 {
    width: 130px; height: 19px; 
    display: inline-block; margin: 40px 585px 0;
}
header .h_btm h1 a {}
header .h_btm h1 a img {width: 100%;}
header .h_btm .gnb {
    display: inline-block; float: right; 
    position: relative;
}
header .h_btm .gnb .gnb_left {float: left;}
header .h_btm .gnb .gnb_left a {margin-right: 9px;}
header .h_btm .gnb .gnb_left a img {} 
header .h_btm .gnb .gnb_left a span {
    border: 1px solid #ff7f50; border-radius: 20px; 
    position: absolute; top: 23px; right: 75px;
    padding: 3px 7px;
}
header .h_btm .gnb .gnb_right {float: left;}
header .h_btm .gnb .gnb_right a {
    margin-left: 9px; 
    width: 16px; height: 16px;
}
header .h_btm .gnb .gnb_right a:first-child {
    margin-left:0;
}
header .h_btm .gnb .gnb_right a img {}
header nav {
    width: 1300px; height: 50px; margin: 0 auto;
}
header nav ul {text-align: center; padding-top: 15px;}
header nav ul li {float: left; }
header nav ul li a {margin-right: 47px;}
header nav ul li:last-child a {margin-right: 0;}
/* login */
.login {background-color: lightblue; width: 480px; height: 470px; margin:100px auto;}
.login h1 {text-align: center;}
.login form {background-color: lightcoral;}
.login form fieldset {background-color: lightgoldenrodyellow; text-align: center; overflow: hidden;}
.login form fieldset .id_pw {background-color: lightsalmon; margin: 10px 120px; padding: 10px 0; border: 1px solid #aaa; border-radius: 10px;}
.login form fieldset .id_pw li {}
.login form fieldset .id_pw li i {margin-right: 10px;}
.login form fieldset .id_pw li #uesr_id {}
.login form fieldset .id_pw li #uesr_pw {}
.login form fieldset .keep_ip {float:left; margin-left: 120px;}
.login form fieldset .keep_ip li {}
.login form fieldset .keep_ip li #keep {}
.login form fieldset .keep_ip li .keep_text {}
.login form fieldset p {}
.login form fieldset p button {}
.login .btn {}
.login .btn a {}